body{
    background: #a92943;
}
span.im-caret {
    -webkit-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}
#navbarSupportedContent{
    margin-left: 10px;
}
@keyframes blink {
    from, to {
        border-right-color: black;
    }
    50% {
        border-right-color: transparent;
    }
}

@-webkit-keyframes blink {
    from, to {
        border-right-color: black;
    }
    50% {
        border-right-color: transparent;
    }
}

span.im-static {
    color: grey;
}

div.im-colormask {
    display: inline-block;
    border-style: inset;
    border-width: 2px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

div.im-colormask > input {
    position: absolute;
    display: inline-block;
    background-color: transparent;
    color: transparent;
    -webkit-appearance: caret;
    -moz-appearance: caret;
    appearance: caret;
    border-style: none;
    left: 0; /*calculated*/
}

div.im-colormask > input:focus {
    outline: none;
}

div.im-colormask > input::-moz-selection{
    background: none;
}

div.im-colormask > input::selection{
    background: none;
}
div.im-colormask > input::-moz-selection{
    background: none;
}

div.im-colormask > div {
    color: black;
    display: inline-block;
    width: 100px; /*calculated*/
}
.app-container{
    padding: 20px;
    margin: 0px;
}
li a.active.show {
    opacity: 1;
    background: #a92943;
    color: white;
}
tr{
    text-align: center
}
.btn-group{
    display: inline-flex;
}
.right{
    float: right;
}
.pm-btn{
    margin: 15px 5px;
    padding: 10px;
}
.bs-margin{
    margin: 0px 2px;
}
.bs-row{
    padding: 2px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
 }
 thead > tr{
    background: #a75a61;
}
tr >th{
    color: white;
    /* padding: 10px;
    margin: 0px;
    vertical-align: middle;
    min-width: 100px; */
}
.tr{
    text-align: right;
    } 
.app-black{
    width: 150px;
    height: 200px;
    background: orange;
}
.lis-search i {
    position: absolute;
    top: 19px;
    left: 15px;
}

.lis-primary {
    color: #ff214f !important;
}
.form-control{
    /* height:51px !important; */
}
.nav-tabs .nav-link {
    color: #707070;
    background-color: #e5e5e5;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.nav-link {
    display: block;
}
.nav-link, .navbar {
    padding: .5rem 1rem;
}
a {
    text-decoration: none;
}

input:active,input:focus{
    box-shadow: none;
}
select:active,select:focus{
    box-shadow: none;
}
.panel-group .panel+.panel {
    margin-top: 5px;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}
.card-primary {
    background: #3a5d7b;
    color: white;
}
.crd-pm{
    background: #f8f9fa;
    box-shadow: #ff214f;
}

.app-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    /* line-height: 1; */
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #3a5d7b;
    border-radius: 10px;
}
.mt-10{
    margin-top: 10px;
}
.txt-center {
    text-align: center;
}
.txt-right{
    text-align: right;
}
.right{
    float: right;
}
.pm-0{
    padding: 0px;
    margin: 0px;
}
.nme{
    padding-right: 10px;
}
.m-scroll-top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    text-align: center;
    display: block;
    padding-top: 9px;
    z-index: 110;
    border-radius: 100%;
    background: rgb(170, 43, 43);
    color: white;
}
.app-pr{
    padding: 0px 10px;
}
.app-mr{
    text-align: right;
    display: inline-block;
}
.left{
    float: left;
}

ul.nav.nav-tabs.flex-column{
    justify-content: center;
}
.pointer{
    cursor: pointer;
}
.list-group-item{

    padding: 10px 4px;
}
.modal-header{
    justify-content: center;
}

.tbpd{
    /* background: #ef5071; */
    padding: 10px;
    /* border-radius: 4px; */
    margin-top: 10px;
    border-bottom: 1px solid #ced4da;
}
.pd-lbl{
    padding-top: 17px;
    font-size: 27px;
}
label.control-label{
    padding-top: 17px;
}
.bg-warning{
    background: #a92943 !important;
    color: white;
}

input{
    text-align: center;
}
select{
    text-align: center;
}
.tab-content{
    padding: 25px;
}
.bc{
    /* width: 500px; */
    color: white;
    margin: 1px;
    border-radius: 8px;
}
.bc-exm{
    background: #0e4380;
}
.bc-nozom{
    background: #28a745;
}
.bc-pln{
    background: #0f6197;
}
.bc-sec {
    background:#7bc139;
}
.bc-def {
    background:#c1399f;
}
.card-body{
    padding: 0px !important;
}

.hide{
    display: none;
}
.menu-container{

}
.menu-item{
    color: black; 
}
.dropdown-item:hover{
    background: #a92943;
    color: white;
}
.nav-link .menu-item{
    color: black;
}
.menu-item:hover{
    background: #a92943;
    color: white;
}
.hr{
    color: black;
    width: 100%;
    border: 1px solid #a92943;
}
.booking{
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 10px; 
    background: #ffc107;
}
.price{
    position: absolute;
    top: 5px;
    right: 5px;
    color: #dc3545;
    font-size: 30px;
}
.location i{
    color: red;
    padding-right: 2px;
}
p.rating{
    margin: 0;
    color: #ffc107;
}
.ctn{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.btl{
    font-size: 30px;
    color: red;
}
.gallery-block{
    padding-bottom: 60px;
    padding-top: 60px;
  }
  
  .gallery-block .heading{
      margin-bottom: 50px;
      text-align: center;
  }
  
  .gallery-block .heading h2{
      font-weight: bold;
      font-size: 1.4rem;
      text-transform: uppercase;
  }
  
  .gallery-block.compact-gallery .item{
    overflow: hidden;
    margin-bottom: 0;
    background: black;
    opacity: 1;
  }
  
  .gallery-block.compact-gallery .item .image{
    transition: 0.8s ease;
  }
  
  .gallery-block.compact-gallery .item .info{
    position: relative;
      display: inline-block;
  }
  
  .gallery-block.compact-gallery .item .description{
    display: grid;
      position: absolute;
      bottom: 0;
      left: 0;
      color: #fff;
      padding: 10px;
      font-size: 17px;
      line-height: 18px;
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      opacity: 1;
      color: #fff;
      transition: 0.8s ease;
      text-align: center;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
  }
  
  .gallery-block.compact-gallery .item .description .description-heading{
    font-size: 1em;
    font-weight: bold;
  }
  
  .gallery-block.compact-gallery .item .description .description-body{
    font-size: 0.8em;
    margin-top: 10px;
    font-weight: 300;
  }
  
  @media (min-width: 576px) {
  
    .gallery-block.compact-gallery .item .description {
      opacity: 0; 
    }
  
    .gallery-block.compact-gallery .item a:hover .description {
      opacity: 1; 
    } 
  
    .gallery-block .zoom-on-hover:hover .image {
      transform: scale(1.3);
      opacity: 0.7; 
    }
  }
  