<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Room</th>
            <th scope="col">Adults</th>
            <th scope="col">Hotel</th>
            <th scope="col">Price/Night</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="all_reservations.length===0">
            <td colspan="8"> No available reservations , try add some and get back !</td>
        </tr>
        <tr
            *ngFor="let room of all_reservations | paginate: { itemsPerPage: 10, currentPage: p } | slice:0:80 as total; index as i;">
            <td>{{i+1}}</td>
            <td>{{room.email}}</td>
            <td>{{room.phone}}</td>
            <td>{{room.room.name}}</td>
            <td>{{room.room.adults}}</td>
            <td>{{room.hotel.name}}</td>
            <td>{{room.hotel.price_night}}</td>
            <td>
                <div class="btn-group">
                    <button type="submit" class="bs-margin btn btn-info" data-toggle="modal" data-target=".bs-edit-room"
                        (click)="getRooms(room)">
                        <span class="fa fa-edit" aria-hidden="true"></span>
                    </button>

                    <button type="button" class="bs-margin btn btn-danger" (click)="deleteReservation(room)">
                        <span class="fa fa-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

<div class="modal fade bs-edit-room" tabIndex="-1" role="dialog" aria-labelledby="bsAEditRoom">
    <form class="form-horizontal" id="reservationsform" #reservationsForm="ngForm" (ngSubmit)="updateReservation()">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Reservation</h4>
                    <button type="button" id="editModal" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Room</th>
                                <th scope="col">Bed</th>
                                <th scope="col">Adults</th>
                                <th scope="col">Children</th>
                                <th scope="col">Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="curr_rooms.length===0">
                                <td colspan="8"> No available Rooms , try add some and get back !</td>
                            </tr>
                            <tr class="selected" *ngFor="let room of curr_rooms | slice:0:80 as total; index as i;"
                                (click)="selectRoom($event.target,room)">
                                <td>{{i+1}}</td>
                                <td>{{room.name}}</td>
                                <td>{{room.bed}}</td>
                                <td>{{room.adults}}</td>
                                <td>{{room.children}}</td>
                                <td>{{room.rate}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group center">
                        <button type="submit" class="btn btn-primary form-control"
                            [disabled]="reservationsForm.invalid">Send Email</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="m_scroll_top" class="m-scroll-top" data-toggle="modal" data-target=".bs-add-rsv" (click)="getAllRooms()">
    <i class="fa fa-plus"></i>
</div>
<div class="modal fade bs-add-rsv" tabIndex="-1" role="dialog" aria-labelledby="bsAaddRsv">
    <form class="form-horizontal" id="AddRsvForm" #AddRsvForm="ngForm" (ngSubmit)="AddRsv(reservation)">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Reservation</h4>
                    <button type="button" id="addModal" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputfname">First Name</label>
                            <input name="fname" type="text" class="form-control" id="inputfname"
                                placeholder="First Name" required [(ngModel)]="reservation.firstname">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputlname">Last Name</label>
                            <input name="lname" type="text" class="form-control" id="inputlname" placeholder="Last Name"
                                required [(ngModel)]="reservation.lastname">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input name="hemail" type="email" class="form-control" id="inputEmail4" placeholder="Email"
                                required [(ngModel)]="reservation.email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPhone">Phone</label>
                            <input name="hpassword" type="tel" class="form-control" id="inputPhone"
                                placeholder="Phone Number" required [(ngModel)]="reservation.phone">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCheck_in">Check-in</label>
                            <input name="hin" type="date" class="form-control" id="inputCheck_in" required
                                [(ngModel)]="reservation.check_in">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputCheck_out">Check-out</label>
                            <input name="hout" type="date" class="form-control" id="inputCheck_out" required
                                [(ngModel)]="reservation.check_out">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputState">Country</label>
                            <input name="h" type="text" class="form-control" id="inputCountry" required
                                [(ngModel)]="reservation.country">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input name="hcity" type="text" class="form-control" id="inputCity" required
                                [(ngModel)]="reservation.city">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="username">Full name (on the card)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" name="username" placeholder="" 
                                    [(ngModel)]="reservation.fullname">
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="cardNumber">Card number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-credit-card"></i></span>
                                </div>
                                <input type="text" class="form-control" name="cardNumber" placeholder=""
                                    [(ngModel)]="reservation.cardnumber">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label><span class="hidden-xs">Expiration</span> </label>
                            <input name="hexpiration" type="date" class="form-control" id="inputexpiration" required
                                [(ngModel)]="reservation.expiration">
                        </div>
                        <div class="form-group col-md-6">
                            <label data-toggle="tooltip" title=""
                                data-original-title="3 digits code on back side of the card">CVV <i
                                    class="fa fa-question-circle"></i></label>
                            <input name="cvv" type="text" class="form-control" id="CVV" 
                                [(ngModel)]="reservation.cvv">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" placeholder="Search by Room or Hotel Name" name="srch" [(ngModel)]="srch" (ngModelChange)="getAllRooms(srch)">
                        </div>
                        <div class="form-group col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Room</th>
                                        <th scope="col">Adults</th>
                                        <th scope="col">Hotel</th>
                                        <th scope="col">Price/Night</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="all_rooms.length===0">
                                        <td colspan="5"> No available reservations , try add some and get back !</td>
                                    </tr>
                                    <tr class="selected" *ngFor="let room of all_rooms | slice:0:10 as total; index as i;" 
                                    (click)="selectRoom($event.target,room)">
                                        <td>{{i+1}}</td>
                                        <td>{{room.name}}</td>
                                        <td>{{room.adults}}</td>
                                        <td>{{room.hotel.name}}</td>
                                        <td>{{room.hotel.price_night}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group center">
                        <button type="submit" class="btn btn-primary form-control"
                            [disabled]="AddRsvForm.invalid">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
