<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="user_profile">
        <span class="user_name">{{current_user.name}}</span>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <div class="btn-group menu-container" *ngFor="let menuItem of menuItems" (click)="setBck($event.target)">
            <a [routerLink]="[menuItem.path]" class="nav-link menu-item" *ngIf="current_user.jobTitle=='Manager' || current_user.jobTitle=='Manager'">
                {{menuItem.title}}
            </a>
        </div> -->

        <div class="btn-group menu-container" (click)="setBck($event.target)"  *ngIf="current_user.jobTitle=='Owner' || current_user.jobTitle=='Manager'">
            <a [routerLink]="['user']" class="nav-link menu-item">
                Users
            </a>
        </div>

        <div class="btn-group menu-container" (click)="setBck($event.target)">
            <a [routerLink]="['hotel']" class="nav-link menu-item" >
                    Hotel
            </a>
        </div>
        <div class="btn-group menu-container" (click)="setBck($event.target)">
            <a [routerLink]="['reservations']" class="nav-link menu-item">
                    Reservations
            </a>
        </div>

    </div>
    <div class="left">
        <span class="pointer pd10" (click)="logout()">Sign Out</span>
    </div>
</nav>