.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
  }
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.hw-600{
    height: 600px;
}
.wh8{
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.mt-10{
    margin-top:10px
}
.bfw{
    background: #00000096;
    font-family: initial;
    font-weight: bold;
}
.img56{
    height: 300px;
}
.gray{
    background: gray;
}
.black{
    background: black;
}
.red{
    background: red;
}
.hw{
    height: 300px;
    width: 300px;
    padding: 5px;
    margin: 5px;
}
.pd-10{
    padding: 10px;
}
.section-title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 40px;
}
.GridLex-gap-20-wrappper, .GridLex-gap-20-wrapper {
    margin-left: -10px;
    margin-right: -10px;
}

.main-search-wrapper-2.absolute-in-hero-slider {
    margin-top: -125px;
    background: rgba(0,0,0,0.4);
    z-index: 999;
    position: relative;
    padding-top: 30px;
    padding-bottom: 15px;
}
.main-search-wrapper-2 .btn-absolute .btn {
    height: 34px;
    padding-top: 7px;
}
.main-search-wrapper-2 .btn-absolute {
    position: absolute;
    bottom: 21px;
    right: 0;
    width: 150px;
}
span.fa{
    line-height: inherit;
}
.rem{
    margin-bottom: .5rem;
}
.m-rem{
    margin-bottom: -.5rem;
}
.carousel-caption{
    bottom: 60px;
    left: 5%;
    right: 5%;
    height: 75%;
}
.left{
    float: left;
}
.bg-trans {
    padding: 5px 40px;
    color:white;
    background: #00000030;
}
.mrg10{
    margin: 10px;
}
.im-m{
    height:100px;
    margin: 10px;
    float: left;
}
.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
.im-p{
    color: white;
    margin-top: 15px;
    text-align: -webkit-center;
}
.ft{
    font-size: 200;
}
.cmr{
    color:#1c8c8c;
    cursor: pointer;
}
.ct-ner{
    background: white;
    padding: 0% 6% 6% 6%;
}
.ct-ner> div.city{
    display: inline-block;
    width: 218px;
    height: 240px;
    font-size: 12px;
    margin: 8px;
}
.h-trv{
    text-align: center;
    color: #726868;
    font-size: 20px;
    width: 100%;
    margin: 30px 0px;
    padding-top: 15px;

}
.logo{
    display: block;
    text-align: center;
}
div.logo>div.cities{
    display:inline-block;
    margin:20px;
}
.img-logo{
    width: 150px;
    border-radius: 50%;
    height: 150px;
}
p.city-name{
    background: #23212f;
    color: white;
    font-size: 20px;
    text-align: center;
    /* width: 210px; */
    padding: 5px;
    margin: 0px;
}
 span.td-city-name {
    position: relative;
    z-index: 10;
    display: content;
    font-size: 1.35em;
    font-weight: 600;
    color: #223267;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}
p.txt-center{
    text-align: center;
    margin: 5px;
}
.tcp{
    padding: 10px;
    text-align: center;
}
.slt{
    font-size: 12px;
}
.tfa{
    margin-left: 10px;
    font-size: 17px;
    position: absolute;
    bottom: 44%;
}
.trns-btn{
    background: #080a0a00;
    color: white;
    border: 1px solid gray;
    border-radius: 20px;
}
.trns-l{
    width: 35%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #00000070;
    border-radius: 5px;
}
.trns-r{
    width: 36%;
    position: absolute;
    right: 18px;
    bottom: 14%;    
}
.right{
    float: right;
}
.pointer{
    cursor: pointer;
}
.mr40{
    margin-right: 4rem;
}
.pd10{
    padding: 10px;
}
.sct{
    max-width: 50%
}
.sct>img , div.h50>img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.sct>div.h50{
    height: 50%;
}
.sec3{
    display: inline-flex;
    height: 600px;
}
.trans-container{
    position: relative;
}
.trans-container .content{
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f8e2e2;
    width: 100%;
    padding: 0px;
}
.trans-container .full{
    height: 100%;
}

.trans-container .full p{
    text-align: center;
    position: absolute;
    font-size: 16px;
    top: 40%;
    padding: 10px;
}
ul.exul{
    color: white;
    font-size: 18px;
    margin: 20px 0px;
    font-weight: 400;
}
ul.exul>li{
    display: block;
}
.right>img{
    width: 180px;
    border-radius: 50%;
    margin: 20px 0px 0px 26px;
}
.white{
    color:white;
}
.p50{
    padding-right: 50px;
}
.city{
    display: inline-block;
    width: 220px;
    height: 300px;
    margin: 8px;
}

@media (max-width:900px){
    div.trans-container >div.full p {
       padding: 2px;
    }
    .city {
        width: 196px;
        height: 300px;
    }
    .im-m{
        float: none;
    }
    .img-logo {
        width: 100px;
        height: 100px;
    }
    .trns-r {
        display: contents;
    }
    .trns-l {
        display: contents;
    }
    .tfa {
        display: none;
    }
    form.pd-10 {
        padding: 40px;
    }
    .carousel-caption{
        bottom: 120px;
    }
}
@media (max-width:750px){
    .sec3 {
        display: block;
        height: 900px;
    }
    .sct {
        max-width: 100%;
        height: 30%;
    }
    .sct > div.h50{
        height: 100%;
    }
    .im-m{
        float: left;
    }
    .d-none {
        display: block!important; 
    }
    .wh8{
        height: 100px;
        float: left;
        margin: 0 30px;
    
    }
    .mrg70{
        text-align: justify;
        padding: 0 60px;
    }
    nav > div.collapse{
        display: contents;
    }
}
@media (max-width: 650px){
    .city {
        width: 150px;
        height: 200px;
    }
    p.city-name{
        font-size: 13px;
    }
    .carousel-caption {
        bottom: 64px;
    }
    .mrg70 {
        text-align: justify;
        font-size: 20px;
        margin-top: 20px;
    }
}
