<div class="container-wrapper colored-navbar-brand">
    <div id="carouselExampleIndicators" class="carousel" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 hw-600" src="./../../assets/images/cmt/bck_1.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <img class="wh8" src="./../../assets/images/summitLS.png" alt="SummitLS">
                    <p class="tfa">{{ 'Find' | translate }}</p>
                    <div class="trns-r mt-10">
                        <h3 class="mrg70">{{ 'Discover' | translate }}</h3>
                    </div>
                    <div class="trns-l mt-10">
                        <form class="pd-10" id="srchForm" #srchForm="ngForm" (ngSubmit)="submitSearch(srch)">
                            <div class="form-row m-rem">
                                <div class="form-group col-md-12 srchHotels">
                                    <input type="text" autocomplete="off" class="form-control" [(ngModel)]="srch.hotel"
                                        name="hotel" id="inputAddress" placeholder="Destination" (input)="searchHotelNames($event.target.value)">



                                    <div class="nion {{display}}">
                                        <ul>
                                            <li *ngIf="hotels.length==0">No available Hotels </li>
                                            <li *ngFor="let hotel of hotels" (click)="hideResults(hotel)">{{hotel.name}}</li>
                                        </ul>
                                    </div>






                                </div>
                            </div>
                            <div class="form-row rem">
                                <div class="input-group col-6">
                                    <!-- <input type="datetime" class="form-control" placeholder="Check-in" name="dp" [(ngModel)]="srch.check_in"/> -->
                                    <input id="dateOfBirthp" class="form-control" placeholder="Check-in" name="dp"
                                        ngbDatepicker #dp="ngbDatepicker" [(ngModel)]="srch.check_in">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button">
                                            <span class="fa fa-calendar-plus"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="input-group col-6">
                                    <!-- <input type="datetime" class="form-control" placeholder="Check-out" name="dp_out" [(ngModel)]="srch.check_out"/> -->

                                    <input id="dateOfBirth" class="form-control" placeholder="Check-out" name="dp_out"
                                        ngbDatepicker #dp_out="ngbDatepicker" [(ngModel)]="srch.check_out">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary calendar" (click)="dp_out.toggle()"
                                            type="button">
                                            <span class="fa fa-calendar-plus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="rem col-md-6 col-sm-6">
                                    <select class="form-control" [(ngModel)]="srch.room" name="Room" id="inputRoom">
                                        <option value="1" selected="selected">1 Room</option>
                                        <option value="2">2 Room</option>
                                        <option value="3">3 Room</option>
                                        <option value="4">4 Room</option>
                                        <option value="5">5 Room</option>
                                        <option value="6">6 Room</option>
                                        <option value="7">7 Room</option>
                                        <option value="8">8 Room</option>
                                    </select>
                                </div>
                                <div class="rem col-md-6 col-sm-6">
                                    <select class="form-control" [(ngModel)]="srch.type" name="Type" id="inputAdults">
                                        <option value="1">Single</option>
                                        <option value="2">Double</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <button class="btn btn-default col-md-12 trns-btn" id="btn" [disabled]="srchForm.invalid">Find
                                    My Hotel</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mrg10">
    <div class="col-md-4 tcp">
        <img class="im-m" src="./../../assets/images/cmt/world.png">
        <p class="im-p">{{ 'Experience' | translate }}</p>
    </div>
    <div class="col-md-4 tcp">
        <img class="im-m" src="./../../assets/images/cmt/pig.png">
        <p class="im-p">{{ 'Transparency' | translate }}</p>
    </div>
    <div class="col-md-4 tcp">
        <img class="im-m" src="./../../assets/images/cmt/heart.png">
        <p class="im-p">{{ 'Dedicate' | translate }}
            <span [style.display]="visib?'contents':'none'" class="cmr" (click)="visib=!visib">...{{ 'More' | translate
                }}</span>
            <span [style.display]="!visib?'contents':'none'">{{ 'cntDedicate' | translate }}
            </span>
        </p>
    </div>
</div>
<div class="ct-ner">
    <div class="row">
        <h3 class="h-trv">{{ 'Specialized' | translate }}</h3>
    </div>
    <div class="logo">
        <div class="city trans-container" *ngFor="let city of cities">
            <img src="{{city.url}}" class="img-center">
            <div class="content">
                <p class="city-name"> {{city.name}}</p>
            </div>
        </div>
    </div>

</div>
<div class="logo">
    <div class="cities">
        <div class="trans-container">
            <img src="{{this.assestsUrl}}/circles/Las Vegas.jpg" alt="" class="img-logo ">
            <div class="content">
                <p class="txt-center"><b>Las</b> Vegas</p>
            </div>
        </div>
    </div>
    <div class="cities">
        <div class="trans-container">
            <img src="{{this.assestsUrl}}/circles/london.jpg" alt="" class="img-logo ">
            <div class="content">
                <p class="txt-center"><b>London</b></p>
            </div>
        </div>
    </div>

    <div class="cities">
        <div class="trans-container">
            <img src="{{this.assestsUrl}}/circles/Paris.jpg" alt="" class="img-logo ">
            <div class="content">
                <p class="txt-center"><b>Paris</b></p>
            </div>
        </div>
    </div>
    <div class="cities">
        <div class="trans-container">
            <img src="{{this.assestsUrl}}/circles/Berlin.jpg" alt="" class="img-logo ">
            <div class="content">
                <p class="txt-center"><b>Berlin</b></p>
            </div>
        </div>
    </div>

    <div class="cities">
        <div class="trans-container">
            <img src="{{this.assestsUrl}}/circles/Dubai.jpg" alt="" class="img-logo ">
            <div class="content">
                <p class="txt-center"><b>Dubai</b></p>
            </div>
        </div>
    </div>
</div>

<div class="sec3">
    <div class="sct trans-container">
        <img src="{{this.assestsUrl}}/plan/128215212.jpg" alt="">
        <div class="content full">
            <p>{{ 'Experts' | translate }}</p>
        </div>
    </div>
    <div class="sct">
        <div class="h50 trans-container">
            <img src="{{this.assestsUrl}}/satisfaction/cbc.jpg" class="" alt="">
            <div class="content full">
                <p>{{ 'Satisfaction' | translate }}</p>
            </div>
        </div>
        <div class="h50 trans-container">
            <img src="{{this.assestsUrl}}/fastest/online-checkout-klarna.jpeg" class="" alt="">
            <div class="content full">
                <p>{{ 'Fastest' | translate }}</p>
            </div>
        </div>

    </div>
</div>